# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries for Python
- Name open source IDEs
- Use arithmetic expressions for calculation

Commonly used languages for data science are:

- **Python**: The most popular language 
- **R**: In my opinion the best for statistics and plotting 
- **SQL**: No database management system, no data science

Some of the commonly used Python libraries used by Data Scientists include:

- **tensorflow, keras and scikitlearn**
- **pandas, numpy and matplotlib**

| Data Science Tools |
| ------------------ |
| Jupyter Notebook/Lab |
| RStudio |
| Spyder |
| Colab |

### Below are a few examples of evaluating arithmetic expressions in Python

In [12]:
#These are two simple arithmetic expression to multiply then adding integers
result_1 = (3*4)+5
result_2 = (5*4)+3

print("First result is:", result_1, "\nSecond result is:", result_2)

First result is: 17
Second result is: 23

In [14]:
#This code converts 200 minutes into hours

one_hour_in_minutes = (60)

result_in_decimal = 200 / one_hour_in_minutes

print(result_in_decimal,"hours")

3.3333333333333335 hours

## Author
David Holl